<div id="content">
    <div class="row">
        <article class="col-sm-12 col-md-12 col-lg-6">
        <div sa-widget color="blue">
            <div>
                <div class="widget-body">
                    <div class="tree smart-form">
                        <sa-tree-view [items]="demo2" (change)="changeListener($event)"></sa-tree-view>
                    </div>
                </div>
            </div>
        </div>
        </article>
        <article class="col-sm-12 col-md-12 col-lg-6">
            <div sa-widget color="blue">
                <div>
                    <div class="widget-body">
                        CANVAS TOOL
                    </div>
                </div>
                <div>
                FACEBOOK Plugins ...
                </div>
            </div>
            </article>
    </div>
</div>
