<div id="content">
    <div class="row">
        <article class="col-sm-12 col-md-12 col-lg-6">
        <div sa-widget color="blue">
            <div>
                <div class="widget-body">
                    <div class="tree smart-form">
                        <tree [tree]="tree"       [settings]="settings"
                              (nodeRemoved)="handleRemoved($event)"
                              (nodeRenamed)="handleRenamed($event)"
                              (nodeSelected)="handleSelected($event)"
                              (nodeMoved)="handleMoved($event)"
                              (nodeCreated)="handleCreated($event)"
                              (nodeExpanded)="handleExpanded($event)"
                              (nodeCollapsed)="handleCollapsed($event)"
                              (loadNextLevel)="handleNextLevel($event)"></tree>
                    </div>
                </div>
            </div>
        </div>
        </article>
        <article class="col-sm-12 col-md-12 col-lg-6">
            <div sa-widget color="blue">
                <div>
                    <div class="widget-body">
                        CANVAS TOOL
                    </div>
                </div>
                <div>
                    <fb-like href="https://facebook.com" showFaces="true"></fb-like>
                    <fb-comments></fb-comments>
                </div>
            </div>
        </article>
    </div>
</div>
