<div id="content">
    <div class="row">
        <div class="col-md-auto">
            <tree #bookTree [tree]="tree" [settings]="settings"
                  (nodeRemoved)="handleRemoved($event)"
                  (nodeRenamed)="handleRenamed($event)"
                  (nodeSelected)="handleSelected($event)"
                  (nodeUnselected)="onNodeUnselected($event)"
                  (nodeMoved)="handleMoved($event)"
                  (nodeCreated)="handleCreated($event)"
                  (nodeExpanded)="handleExpanded($event)"
                  (nodeCollapsed)="handleCollapsed($event)"
                  (loadNextLevel)="handleNextLevel($event)">

                <ng-template let-node>
                    <i class="fa {{node.icon}}"></i>
                    <span class="node-name" [innerHTML]="node.value"></span>
                </ng-template>
            </tree>

            <button *ngIf="isMyBook()" (click)="saveOrUpdateBook()" class="btn btn-primary">
                <i class="fa fa-save"> </i> Save Book
            </button>
        </div>
        <div class="col">
            <div [style.display]="(showFabric) ? '' : 'none'">
                <fabric-component #fabric ></fabric-component>
            </div>

            <div>
                <fb-like href="https://facebook.com" showFaces="true"></fb-like>
                <fb-comments></fb-comments>
            </div>
        </div>
    </div>
</div>
