target/
mvnw.cmd
.mvn
backend.iml
### STS ###
.apt_generated
.factorypath
.springBeans

### Eclipse ###
.classpath
.project
.settings/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
comic-frontend/node_modules
