<div sa-widget color="blueDark">
    <header>
        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
        <h2>{{'Book list' | i18n}}</h2>

    </header>

    <div>
        <div class="widget-body no-padding">
            <sa-datatable #repLstDT (buttonClicked)="onActionButtonClicked($event)" [options]="options" filter="true" tableClass="table table-striped table-bordered table-hover">
                <thead>

                <tr>
                    <th class="hasinput" [ngStyle]="{width:'10%'}"><input type="text"
                                                                          class="form-control"
                                                                          placeholder="{{'Book name' | i18n}}"/>
                    </th>
                </tr>
                <tr>
                    <th [style.width]="'10%'" data-hide="mobile-p">{{'Book name' | i18n}}</th>
                    <th style="min-width: 75px" data-hide="mobile-p">{{'Action' | i18n}}</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th [style.width]="'10%'" data-hide="mobile-p">{{'Book name' | i18n}}</th>
                    <th style="min-width: 75px" data-hide="mobile-p">{{'Action' | i18n}}</th>
                </tr>
                </tfoot>
            </sa-datatable>
        </div>
    </div>