<header id="header" class="animated fadeInDown">

  <div id="logo-group">
    <span id="logo"> <img src="assets/img/logo.png" alt="SmartAdmin"> </span>
  </div>

  <span id="extr-page-header-space"> <span class="hidden-mobile hiddex-xs">Need an account?</span> <a routerLink="/auth/register" class="btn btn-danger">Create account</a> </span>

</header>
<div id="main" role="main" class="animated fadeInDown">

  <div id="content" class="container">

    <div class="row">
      {{message}}
    </div>
  </div>

</div>

